@use "../variables" as *;
@use "../global/mixins" as *;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  max-width: 30vw;
  width: 100%;
  height: 100vh;
  max-height: 0;
  opacity: 0;
  padding: 2vw 2vw 3vw;
  background-color: $color-black-pearl-trans-20;
  backdrop-filter: blur(3vw);
  -webkit-backdrop-filter: blur(3vw);
  transition: opacity $trans-default, max-height $trans-default;
  overflow: hidden;
  pointer-events: none;
  z-index: 3;

  @include vp-1023 {
    gap: 20px;
    max-width: 500px;
    padding: 15px 15px 50px;
  }

  &.modal--opened {
    max-height: 100vh;
    opacity: 1;
    pointer-events: all;
  }

  &__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: clamp(16px, 2vw, 60px);
    font-style: normal;

    @include vp-1023 {
      font-size: 36px;
    }
  }

  &__cross {
    position: relative;
    left: -0.5vw;
    width: 2.4vw;
    height: 2.4vw;
    padding: 0;
    flex-shrink: 0;
    border-radius: 50%;
    border: 0.05vw solid $color-default-white;

    @include vp-1023 {
      left: -1vw;
      width: 30px;
      height: 30px;
      border: 1px solid $color-default-white;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.05vw solid $color-default-white;
    flex-shrink: 0;
  }

  &__count {
    font-size: clamp(14px, 1.3vw, 60px);
    font-style: normal;
    font-weight: 400;
    line-height: 112%;

    @include vp-1023 {
      font-size: 24px;
    }
  }

  &__clean {
    position: relative;
    left: 0.55vw;
    padding: 0.5vw;
    text-align: right;
    color: $color-default-white;
    font-size: clamp(14px, 1.3vw, 60px);
    font-style: normal;
    font-weight: 300;
    line-height: 112%;

    @include vp-1023 {
      font-size: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    height: calc(100vh - 290px);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: grid;
    grid-template-columns: auto 9.5vw;
    align-items: center;
    gap: 1vw;
    padding: 0.6vw 0;

    @include vp-1023 {
      grid-template-columns: 55% 1fr;
      gap: 10px;
      justify-content: center;
      padding: 12px 0;
    }
  }

  &__item:not(:first-child) {
    border-top: 0.05vw solid $color-default-white;
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;

    @include vp-1023 {
      gap: 10px;
    }
  }

  &__pic {
    overflow: hidden;
    position: relative;
    top: -0.35vw;
    width: 6vw;

    @include vp-1023 {
      width: 100px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8vw;
  }

  &__name {
    width: 8.5vw;
    font-size: clamp(14px, 1.3vw, 60px);
    font-style: normal;
    font-weight: 300;
    line-height: 112%;
    letter-spacing: 0.32px;

    @include vp-1023 {
      width: 100%;
      font-size: 24px;
    }
  }

  &__price {
    font-size: clamp(14px, 1.3vw, 60px);
    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    @include vp-1023 {
      font-size: 22px;
    }
  }

  &__price span {
    margin: 0 0 0 0.25vw;

    @include vp-1023 {
      margin: 0 0 0 4px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.35vw 0 0;

    @include vp-1023 {
      gap: 5px;
      padding: 0 5px 0 0;
    }
  }

  &__minus {
    width: 2vw;
    height: 1.2vw;
    padding: 0;
    border-radius: 0.2vw;
    background-color: $color-white-smoke;
    flex-shrink: 0;

    @include vp-1023 {
      width: 40px;
      height: 24px;
      border-radius: 4px;
    }

    &::after {
      @include pse {
        width: 0.5vw;
        height: 0.05vw;
        background-color: $color-default-black;
      }

      @include vp-1023 {
        width: 10px;
        height: 1px;
      }
    }
  }

  &__board {
    position: relative;
    left: -1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
    font-size: clamp(14px, 1.3vw, 60px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    @include vp-1023 {
      width: 20px;
      font-size: 24px;
    }
  }

  &__plus {
    width: 2vw;
    height: 1.2vw;
    padding: 0;
    border-radius: 0.2vw;
    background-color: $color-white-smoke;
    flex-shrink: 0;

    @include vp-1023 {
      width: 40px;
      height: 24px;
      border-radius: 4px;
    }

    &::before,
    &::after {
      @include pse {
        position: relative;
        width: 0.5vw;
        height: 0.05vw;
        background-color: $color-default-black;
      }

      @include vp-1023 {
        width: 10px;
        height: 1px;
      }
    }

    &::before {
      left: 0.2vw;
      transform: rotate(90deg);

      @include vp-1023 {
        left: 4px;
      }
    }

    &::after {
      left: -0.3vw;

      @include vp-1023 {
        left: -6px;
      }
    }
  }

  &__delete {
    position: relative;
    width: 2vw;
    height: 2vw;
    padding: 0;
    flex-shrink: 0;

    @include vp-1023 {
      left: 0;
      width: 40px;
      height: 40px;
    }

    &::before,
    &::after {
      @include pse {
        position: absolute;
        width: 0.9vw;
        height: 0.07vw;
        background-color: $color-default-white;
      }

      @include vp-1023 {
        width: 18px;
        height: 2px;
      }
    }

    &::before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);

      @include vp-1023 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    &::after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(135deg);

      @include vp-1023 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }
  }

  &__foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }

  &__bag {
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
  }

  &__sign {
    font-size: clamp(14px, 1.3vw, 60px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    @include vp-1023 {
      font-size: 24px;
    }
  }

  &__total {
    font-size: clamp(30px, 1.5vw, 100px);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.6px;

    @include vp-1023 {
      font-size: 30px;
    }
  }

  &__submit {
    width: 12vw;
    height: 2.8vw;
    padding: 0.5vw;
    flex-shrink: 0;
    border-radius: 0.2vw;
    background: $linear-yellow-red;
    text-align: center;
    font-size: clamp(12px, 1.3vw, 60px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;

    @include vp-1023 {
      width: unset;
      height: unset;
      min-width: 200px;
      min-height: 30px;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 24px;
      letter-spacing: 0.16px;
    }
  }
}
